@font-face
{
    font-family: DK_Crayon_Crumble;
    src: url(DK_Crayon_Crumble.ttf);
}
body {
font-family:"DK_Crayon_Crumble";
color: white;
background-image:url("../images/blackboard.gif");
}

#h1 {
    position:absolute;
    left:100px;
    top:70px;
}

#h2 {
    position:absolute;
    left:650px;
    top:70px;
}

#output1 {
    position:absolute;
    left:100px;
    top:150px;
    font-size:30px;
}

#output2 {
    position:absolute;
    left:650px;
    top:150px;
    font-size:30px;
}

